body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffffa9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    color: #1e90ff;
    text-align: center;
}

.description {
    margin-bottom: 20px;
    font-size: 1em;
}

.prompt-description {
    margin-bottom: 20px;
    font-size: 1em;
    font-family: monospace; /* Optional: Gives a typewriter-like appearance */
    white-space: pre-wrap; /* Preserve whitespace */
    max-height: 200px; 
    overflow-y: auto;
}

.settings {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

body.dark-mode .settings {
    background-color: #333; /* Dark background for dark mode */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); /* Darker shadow for dark mode */
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, border-color 0.3s;
}

.setting:last-child {
    border-bottom: none;
}

.setting label {
    font-size: 1em;
    color: #555;
    transition: color 0.3s;
}

.setting input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.setting input[type="number"] {
    font-size: 1em;
    border: none;
    text-align: right;
    width: 60px;
    transition: background-color 0.3s, color 0.3s;
}

.setting input[type="number"]:disabled {
    background-color: transparent;
    color: #555;
}

body.dark-mode .setting {
    border-color: #555; /* Darker border for dark mode */
}

body.dark-mode .setting label {
    color: #ccc; /* Lighter text color for dark mode */
}

body.dark-mode .setting input[type="number"]:disabled {
    color: #ccc; /* Lighter disabled input color for dark mode */
}

/* Player Inspiration Setting */
.player-inspiration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.plus-sign {
    position: relative;
    width: 20px;
    height: 20px;
}

.plus-sign::before,
.plus-sign::after {
    content: '';
    position: absolute;
    background-color: #555;
    transition: background-color 0.3s;
}

.plus-sign::before {
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.plus-sign::after {
    width: 4px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

body.dark-mode .plus-sign::before,
body.dark-mode .plus-sign::after {
    background-color: #ccc;
}


#game-area {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
    max-height: 500px;
}

#top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#control-panel {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-right: 10px; /* Adjust the margin to the right */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(13px);
}

#stats {
    text-align: right;
}

#output {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

#input-section {
    display: flex;
}

#command {
    flex: 1;
    padding: 10px;
}

#submit {
    padding: 10px 20px;
}

body.dark-mode {
    background-color: #121212;
    color: #eee;
}

#game-area.dark-mode {
    border-color: #444;
    background-color: #333;
}

#output.dark-mode {
    border-color: #444;
    background-color: #222;
}

.monster-image {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px auto;
}
.choice-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.choice-button {
    flex:1;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    padding: 15px 30px;
    font-size: 1em;
    color: white;    
    background-color: #555; /* Gray color for light mode */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choice-button:hover {
    background-color: #777; /* Lighter gray on hover for light mode */
}

body.dark-mode .choice-button {
    background-color: #777; /* Lighter gray for dark mode */
}

body.dark-mode .choice-button:hover {
    background-color: #999; /* Even lighter gray on hover for dark mode */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: white;
    padding: 10px 10px;
}
.navbar .menu,
.navbar .title,
.navbar .settings {
    text-align: center;
}
.navbar .menu {
    text-align: left;
    padding-left: 20px;
}
.navbar .title {
    text-align: center;
    width: 100%;
}
.navbar .settings {
    text-align: right;
    padding-right: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
}