body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffffa9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  



body.dark-mode {
    background-color: #121212;
    color: #eee;
}

body.dark-mode .choice-button {
    background-color: #4d5054;
    border: 1px solid #f4f4f4;
}

body.dark-mode .choice-button:hover {
    background-color: #3c3c3c; /* Even lighter gray on hover for dark mode */
}


h2{
    text-align: center;
}

.description {
    margin-bottom: 20px;
    font-size: 1em;
    width: 85%;
}

.prompt-description {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-family: monospace; /* Optional: Gives a typewriter-like appearance */
    white-space: pre-wrap; /* Preserve whitespace */
} 

.prompt-description .italic {
    font-style: italic;
}

.navbar-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374151;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
    height: 3rem;            /* Footer height */
}

.navbar-settings .menu {
    text-align: left;
    font-size: 2rem;
    padding-left: 20px;
}
.navbar-settings .title {
    text-align: center;
    width: 100%;
}
.navbar-settings .settings {
    text-align: right;
    font-size: 2rem;
    padding-right: 20px;
}
.navbar-settings a {
    color: white;
    text-decoration: none;
}
.navbar-settings a:hover {
    text-decoration: underline;
}



.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 3rem;    /* Footer height */
}

.stats {
    display: flex;
    justify-content: space-around;
    width: 83%;
    background-color: #374151;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.stat-item {
    font-size: 1.25rem;
    margin: 0 1rem;
}

.heart {
    color: rgb(55, 69, 103);
}

.heart, .health-value, .score-value, .score-icon, .inspiration-symbol {
    font-size: 24px;
}

.score{
    line-height: 24px;
}

.score-icon{
    height: 24px;
    width: auto;
}

.score-value{
    font-size: 24px;
}

.inspiration {
    color: grey;
    cursor: pointer;
    pointer-events: none; /* Initially unclickable */
    position: relative; /* Required for tooltip positioning */
}

.inspiration-symbol {
    font-size: 24px;
    font-weight: bold;
}

.inspiration .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position the tooltip above the symbol */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.inspiration .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow pointing down */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.inspiration.green:hover .tooltip {
    visibility: visible;
}

#game-area {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

#game-area.dark-mode {
    border-color: #444;
    background-color: #333;
}

#top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#control-panel {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-right: 10px; /* Adjust the margin to the right */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(13px);
}

#stats {
    text-align: right;
}

#output {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

#output.dark-mode {
    border-color: #444;
    background-color: #222;
}

#input-section {
    display: flex;
}

#command {
    flex: 1;
    padding: 10px;
}

#submit {
    padding: 10px 20px;
}

.monster-image {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px auto;
}

.choice-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.choice-button {
    flex:1;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    padding: 15px 30px;
    font-size: 1em;
    color: white;
    background-color: #636363;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choice-button:hover {
    background-color: #7f7f7f; /* Lighter gray on hover for light mode */
}



footer {
    display: flex;
    justify-content: center;
    color: #f4f4f4;
    align-items: center;
    background-color: #374151;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            /* Footer height */
    
}

.dark footer {
    background: #111827;
}

.coffee-button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background: #515969;
    color: #f4f4f4;
    cursor: pointer;
    text-decoration: none;
}
.coffee-button:hover {
    background-color: #6b7280; /* Lighter gray on hover for light mode */
}

@media (min-width: 768px) {
    #game-area {
        /* font-size: 2rem; */
    }
}


